!*.java
!.gitignore


/.settings/
/target/
/.classpath 
/.project
.factorypath

*/.settings/
*/target/
*/.classpath
*/.project
*/.factorypath

*/*/.classpath 
*/*/.project
*/*/.settings/*
*/*/target/*
*/*/.factorypath